.projectManagement {
  height: 945px;
  padding-top: 96px;
  padding-left: 359px;
  padding-bottom: 96px;
  background-color: #000;
  background-image: url(/assets/images/back.png);
  background-size: 1960px;
  background-repeat: no-repeat;
  background-position: right;
  backdrop-filter: blur(16px);

  .projectManagementHeading {
    margin-bottom: 24px;
    width: 752px;
    font-size: 54px;
    font-weight: 400;
    line-height: 74px;
    text-transform: uppercase;
    color: var(--text-main);
  }

  .projectManagementGroup {
    margin-bottom: 70px;
    display: flex;

    .projectManagementGroupText {
      margin-right: 56px;
      font-size: 24px;
      font-weight: 500;
      line-height: 67px;
      text-transform: uppercase;
      color: #9296A3;
    }

    .projectManagementGroupBtn1 {
      margin-top: 12px;
      padding: 0 127px 0 20px;
      height: 42px;
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
      border: none;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      background:#249BBB;
      color: #FFFFFF;
    }

    .projectManagementGroupBtn2 {
      margin-top: 12px;
      padding: 0 84px 0 20px;
      height: 42px;
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
      border: 2px solid #8B38FF;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: 0.01em;
      background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.71) 32.7%, rgba(0, 0, 0, 0.84) 55.71%, rgba(0, 0, 0, 0.06) 100%);
      text-transform: uppercase;
      color: #8B38FF;
    }
  }

  .projectManagementTime {
    display: flex;
    flex-direction: column;

    .projectManagementTimeText {
      margin-bottom: 83px;
      width: 310px;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: #9296A3;
    }

    .projectManagementTimeBlockNumber1 {
      margin-bottom: 50px;
      font-weight: 400;
      font-size: 90px;
      line-height: 70px;
      letter-spacing: 0.01em;
      color: #249BBB;
    }

    .projectManagementTimeBlock2 {
      margin-top: 23px;
      padding-top: 20px;
      width: 254px;
      display: flex;
      border-top: 2px solid #249BBB;

      .projectManagementTimeBlockNumber2 {
        margin-right: 15px;
        font-weight: 400;
        font-size: 90px;
        line-height: 70px;
        letter-spacing: 0.01em;
        color: #114958;
      }

      .projectManagementTimeBlockText2 {
        font-size: 22px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: var(--text-main);
      }
    }
  }

  .blockCircle {
    height: 0px;

    .blockCircleOne {
      height: 0px;

      .circle1 {
        position: absolute;
        bottom: 325px;
        left: 455px;
      }
    
      .circle2 {
        position: absolute;
        bottom: 775px;
        left: 520px;
      }
    
      .circle3 {
        position: absolute;
        bottom: 1100px;
        left: 585px;
      }
    
      .circle4 {
        position: absolute;
        bottom: 1300px;
        left: 635px;
      }

      .blockCircleOneText {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #9296A3;
      }

      .circleText1 {
        position: absolute;
        bottom: 515px;
        left: 845px;
      }

      .circleText2 {
        position: absolute;
        bottom: 460px;
        left: 955px;
      }

      .circleText3 {
        position: absolute;
        bottom: 400px;
        left: 900px;
      }

      .circleText4 {
        position: absolute;
        bottom: 345px;
        left: 960px;
      }

      .circleBall {
        position: absolute;
        bottom: 115px;
        left: 908px;
      }

      .circleCentre {
        position: absolute;
        bottom: 1411px;
        left: 681px;
        z-index: 1;
      }
    }

    .blockCircleTwo {
      height: 0px;

      .circle5 {
        position: absolute;
        bottom: 325px;
        left: 985px;
      }
    
      .circle6 {
        position: absolute;
        bottom: 775px;
        left: 1050px;
      }
    
      .circle7 {
        position: absolute;
        bottom: 1100px;
        left: 1110px;
      }
    
      .circle8 {
        position: absolute;
        bottom: 1300px;
        left: 1160px;
      }

      .blockCircleOneText {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #9296A3;
      }

      .circleText5 {
        position: absolute;
        bottom: 515px;
        left: 1565px;
      }

      .circleText6 {
        position: absolute;
        bottom: 460px;
        left: 1565px;
      }

      .circleText7 {
        position: absolute;
        bottom: 400px;
        left: 1565px;
      }

      .circleText8 {
        position: absolute;
        bottom: 345px;
        left: 1565px;
      }

      .circleBall2 {
        position: absolute;
        bottom: 115px;
        left: 1438px;
      }

      .circleCentre2 {
        position: absolute;
        bottom: 1411px;
        left: 1211px;
        z-index: 1;
      }
    }
  }
}