:root {
    --bacbackground-color: #000026;

    --text-main: #FFFFFF;
    --text-secondary: #000112;
    --text-single: #B7B7B7;

    --btn-primary: #3A9800;
    --btn-secondary: #202224;
  
    --white: #FFFFFF;
}
